//- extends ../shared/template
//-
//- block content
#search-container
  #map
  #searchResults
    h4 Nearby Trusted Helpers
    hr
    each user in matchedUsers
      .results(data-zipcode='#{matchedUsers.zipcode}', data-email='#{user.email}', data-experience='#{user.experience}', data-lat='#{user.latlong[0]}', data-long='#{user.latlong[1]}')
        .name
          p= user.name
          a.btn.btn-default(href='#{user._id}') view profile

block scripts
  script(src='/js/es6/compiled/map.js')
