extends ../shared/template

block content

  .register
    .register-container
      .row
        .col-md-12
          h1= title
          form#register(method='post', action='/register')
            input(type='text', name='name', autofocus=true, placeholder='Enter Name')
            input(type='email', name='email', autofocus=true, placeholder='Email Address')
            input(type='text', name='streetName', autofocus=true, placeholder='Street Address')
            input(type='text', name='city', autofocus=true, placeholder='City')
            input(type='text', name='state', autofocus=true, placeholder='State')
            input(type='zipcode', name='zipcode', autofocus=true, placeholder='Zipcode')
            button#register Register
