extends ../shared/template

block content
  h1.title

  #page-container
    .row
      .col-md-2
        #menu-container
          .head-shot-div
            .head-shot-image
              if(user.photos.length)
                each photo,i in user.photos
                  if(photo.isPrimary)
                    img#profile-photo(src=photo.path)
              else
                img#profile-photo(src='/img/default-user.png')

          .proifle-wrapper
            .info
                ul.info
                  p.btn.btn-default #{user.name}
                ul.info
                  p.btn.btn-default Zipcode #{user.zipcode}
                ul.info
                  p.btn.btn-default #{user.email}
                ul.info
                  p.btn.btn-default Age #{user.age}
                ul.info
                  if(user.isOwner(user))
                    a.btn.btn-default#edit(href='/users/#{user._id}/edit') edit profile
                ul.info
                  if(user.isOwner)
                    form(method='post', action='/users/#{user._id}/addPhotos', enctype='multipart/form-data')
                      input.btn.btn-default(type='file', multiple='true', name='photos')
                      button.btn.btn-default Add Photo


      .col-md-8
        .well#contentMenu
          .content-menu-box
            a#dashboard(href='/dashboard')
              h1.content-menu dashboard
            if(user.isOwner)
              a#messages(href='/messages')
                h1.content-menu messages
            //- if(user.isOwner)
            //-   a#tasks(href='/tasks')
            //-     h1.content-menu tasks
            if(user.isOwner)
              a#search(href='/search')
                h1.content-menu search
        .well#content-container
            #content-container
