extends ../shared/template

block content
  h1.title= title

  #page-container
    .row
      .col-md-2
        #menu-container
          .head-shot-div
            .head-shot-image
              .head-shot-form
                if(user.isOwner(user))
                  form(action='/users/#{user._id}/photo', method='post', enctype='multipart/form-data', placeholder='Browse Images')
                    input(type='file', name='photo', required, multiple=true)
                    button.btn.btn-default Add Photo
                else
          .proifle-wrapper
            .info
                ul.info
                  p.btn.btn-default Tasks
                ul.info
                  p.btn.btn-default Search #{user.zipcode}
                ul.info
                  a.btn.btn-default #{user.email}
                ul.info
                  a.btn.btn-default(href='/users/#{user._id}/edit') edit profile

      .col-md-8
        .well#contentMenu
          .content-menu-box
            a(href='#')
              h1.content-menu dashboard
            a(href='#')
              h1.content-menu messages
            a(href='#')
              h1.content-menu tasks
            a(href='#')
              h1.content-menu search
        //- .well#content-container
        //-     #content-container


            //- .profile-wrapper
            //-   .row
            //-     .profile-bar
            //-   .row
            //-     .col-sm-12.col-md-1
            //-     .col-sm-12.col-md-3
            //-       .profile-pic
            //-       .info
            //-           li
            //-             h4 Zipcode #{user.zipcode}
            //-     .col-sm-12.col-md-4
            //-       .row
            //-         .about-me
            //-           p oh yeah
            //-     .interact.col-sm-12.col-md-2
            //-       ul
            //-         li
            //-           a email #{user.email}
            //-         li
            //-           a.btn.btn-default(href='/users/#{user._id}/edit') edit profile
            //-     .col-sm-12.col-md-2
